<div><a href='/chat'>К чатам</a></div>
<div><a href='/signin'>Войти</a></div>
<div><a href='/signup'>Зарегестрироваться</a></div>
<div><a href='/notFound'>Страница не найдена</a></div>
<div><a href='/serverError'>Ошибка сервера</a></div>
<div><a href='/profile'>Профиль</a></div>